.local/bin/**/*
.local/pipx/
.local/share/
.local/state/
.config/Cursor/**/*
.config/Code/**/*
!.config/Cursor/User/settings.json
!.config/Cursor/User/keybindings.json
!.config/Code/User/settings.json
!.local/bin/docker-start
!.local/bin/docker-stop
!.local/bin/git-profile
!.local/bin/kbfix
